@charset "UTF-8";

/*--member-profile----------------------------------------------*/
#member-profile{
	margin-top : 5%;
	text-align: center;
}

/*--member-form---------------------------------------------------*/
#member-form{
	
}

	#member-form > ul > li{
		margin-top: 10px;	 
	}