@charset "UTF-8";

/*--logo----------------------------------------------*/
#logo{ 
	text-align: center;
	padding-top: 20%;
}   

/*--member-menu----------------------------------------------*/
#member-menu{ 
	text-align: right;   
	padding-top: 5em;
}  

	#member-menu > ul > li{
		display: inline-block;
		font-weight: bold;
		font-size: 0.8em;
		line-height: 0px; 
		cursor: pointer;
	}
	
	#member-menu > ul > li:first-child{
		padding-right: 10px;
	}

/*--login-container----------------------------------------------*/
#member-container{
	padding-top : 1em;
}

/*--member-form----------------------------------------------*/
#member-form{
	
}
   
	#member-form ul > li {
		position : relative;
		border: 1px solid #bebebe;
		border-radius: 5px; 
		margin-bottom: 1.5em; 
		width: 100%;  
		height: 2.5em;
	}
	
	#member-form ul > li:last-child {
		border: 0px;
		margin-top: -10px;  
		  
	}
	
	#member-form ul > li:last-child input{
	    vertical-align: middle;
		width: 15px;
		height: 15px;  
	}
	
	#member-form ul > li:last-child label{
  		vertical-align: middle;
		width: 15px; 
		height: 15px; 
		font-weight: bold;
		font-size: 0.8em; 
	} 
	
	#member-form li img {
		width : 2em;
		padding-top: 5px;
		padding-left : 5px;
	}     
	 
	#member-form li .login-input {
		position : absolute;  
		top : 0px;    
		width : 75%;    
		height: 2.8em;        
	    border: 0px;     
	    padding-left: 20px; 
	}
	
	#member-form li input:focus { 
		outline: none; 
	}