@charset "UTF-8";




/*--member-profile----------------------------------------------*/
#member-profile{
	margin-top : 5%;  
	text-align: center;
} 

/*--member-form---------------------------------------------------*/
#member-form{
	
}

	#member-form > ul > li{
		margin-top: 10px;	 
		border: 0px;
	    border-bottom: 1px solid #bebebe;
	    width: 100%;
	}
	
	#member-form > ul > li span{
		display : inline-block;
		font-size: 0.9em; 
		padding-bottom: 3px; 
	}
	
/*--edit-buttons--------------------------------------------------*/	
#edit-buttons{
	position: absolute;
	bottom: 7%;  
	width: 95%;
	text-align: center;
}

#edit-buttons .bottom-button-md { 
	width: 40%;   
	height: 40px;
	font-size: 1em;   
	font-weight: bold;
	
}

#edit-buttons .bottom-button-md:first-child { 
	margin-right:5%;
}

